<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sofurry.favorites"
      android:versionCode="13"
      android:versionName="1.12">
        <application 
                android:icon="@drawable/icon" 
                android:label="@string/app_name">
                <service 
                        android:name="LiveWallpaperService"
                        android:enabled="true"
                        android:icon="@drawable/icon"
                        android:label="@string/app_name"
                        android:permission="android.permission.BIND_WALLPAPER">
                        <intent-filter android:priority="1" >
                                <action android:name="android.service.wallpaper.WallpaperService" />
                        </intent-filter>
                        <meta-data 
                                android:name="android.service.wallpaper" 
                                android:resource="@xml/wallpaper" />
                </service>
                <activity 
                        android:label="@string/app_name" 
                        android:name=".LiveWallpaperSettings" 
                        android:theme="@android:style/Theme.Light.WallpaperSettings"
                        android:exported="true" />
                <activity 
                        android:label="@string/app_name" 
                        android:name=".MainMenu" 
                        android:theme="@android:style/Theme.Dialog">
			            <intent-filter>
            			    <action android:name="android.intent.action.MAINMENU" />
                			<category android:name="android.intent.category.DEFAULT" />
            			</intent-filter>
				</activity>
			<!-- Broadcast Receiver that will process AppWidget updates -->
			<receiver android:name=".LiveWallpaperWidget" android:label="SoFurry LiveWP Controls">
				<intent-filter>
					<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
					<!-- Broadcast Receiver that will also process our self created action -->
					<action android:name="com.sofurry.favorites.LiveWallpaperWidget.ACTION_WIDGET_RECEIVER"/>
				</intent-filter>
				<meta-data android:name="android.appwidget.provider" android:resource="@xml/sf_widget_provider" />
			</receiver>
        </application>
        <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
</manifest> 